<div id="picker">
  <ng-container *ngFor="let component of components"  >
    <ng-container [ngSwitch]="component.order">
      <h2 *ngSwitchCase="1">1</h2>
      <h2 *ngSwitchCase="2">2</h2>
      <h2 *ngSwitchCase="3">3</h2>
      <h2 *ngSwitchCase="4">4</h2>
      <h2 *ngSwitchCase="5">5</h2>
      <h2 *ngSwitchCase="6">6</h2>
      <h2 *ngSwitchCase="7">7</h2>
      <h2 *ngSwitchCase="8">8</h2>
      <h2 *ngSwitchCase="9">9</h2>
      <h2 *ngSwitchCase="10">10</h2>
      <h2 *ngSwitchCase="11">11</h2>
      <h2 *ngSwitchCase="12">12</h2>
    </ng-container>
  </ng-container>
</div>
