<div id="picker" style="height: 50vh; overflow: hidden; overflow-y: hidden;">
  <ng-container *ngFor="let component of components"  >
    <ng-container [ngSwitch]="component.order">
      <h2 *ngSwitchCase="1">1</h2>
      <h2 *ngSwitchCase="2">2</h2>
      <h2 *ngSwitchCase="3">3</h2>
      <h2 *ngSwitchCase="4">4</h2>
      <h2 *ngSwitchCase="5">5</h2>
      <h2 *ngSwitchCase="6">6</h2>
      <h2 *ngSwitchCase="7">7</h2>
      <h2 *ngSwitchCase="8">8</h2>
      <h2 *ngSwitchCase="9">9</h2>
      <h2 *ngSwitchCase="10">10</h2>
      <h2 *ngSwitchCase="11">11</h2>
      <h2 *ngSwitchCase="12">12</h2>
      <h2 *ngSwitchCase="13">13</h2>
      <h2 *ngSwitchCase="14">14</h2>
      <h2 *ngSwitchCase="15">15</h2>
      <h2 *ngSwitchCase="16">16</h2>
      <h2 *ngSwitchCase="17">17</h2>
      <h2 *ngSwitchCase="18">18</h2>
      <h2 *ngSwitchCase="19">19</h2>
      <h2 *ngSwitchCase="20">20</h2>
      <h2 *ngSwitchCase="21">21</h2>
      <h2 *ngSwitchCase="22">22</h2>
      <h2 *ngSwitchCase="23">23</h2>
      <h2 *ngSwitchCase="24">00</h2>
    </ng-container>
  </ng-container>
</div>
