<div style="display: flex; justify-content: center; align-items: center;">
  <app-picker [displayData]="hours"
              [visibleItemsCount]="visibleItemsCount"
              [size]="size"
              [selectedItemIndex]="10">
  </app-picker>

  <app-picker [displayData]="minutes"
              [visibleItemsCount]="visibleItemsCount"
              [size]="size"
              [selectedItemIndex]="24">
  </app-picker>

  <app-picker *ngIf="includeSeconds"
              [displayData]="seconds"
              [visibleItemsCount]="visibleItemsCount"
              [size]="size"
              [selectedItemIndex]="0">

  </app-picker>

  <app-picker *ngIf="hourFormat === 'hours12'"
              [displayData]="dayPeriods"
              [visibleItemsCount]="3"
              [selectedItemIndex]="1"
              [size]="size"
              [infiniteWheelStyle]="false">
  </app-picker>
</div>
