<div style="display: flex; justify-content: center; align-items: center;">
  <app-picker [displayData]="hours"
              [visibleItemsCount]="visibleItemsCount"
              [size]="size"
              [selectedItemIndex]="hoursSelectedIndex"
              (newSelectedIndex)="indexChange($event, pickerCategory.hours)">
  </app-picker>

  <app-picker [displayData]="minutes"
              [visibleItemsCount]="visibleItemsCount"
              [size]="size"
              [selectedItemIndex]="minutesSelectedIndex"
              (newSelectedIndex)="indexChange($event, pickerCategory.minutes)">
  </app-picker>

  <app-picker *ngIf="includeSeconds"
              [displayData]="seconds"
              [visibleItemsCount]="visibleItemsCount"
              [size]="size"
              [selectedItemIndex]="secondsSelectedIndex"
              (newSelectedIndex)="indexChange($event,pickerCategory.seconds)">
  </app-picker>

  <app-picker *ngIf="hourFormat === 'hours12'"
              [displayData]="dayPeriods"
              [visibleItemsCount]="3"
              [selectedItemIndex]="periodSelectedIndex"
              [size]="size"
              [infiniteWheelStyle]="false"
              (newSelectedIndex)="indexChange($event, pickerCategory.period)">
  </app-picker>
</div>
