<div style="display: flex; justify-content: center; align-items: center;">
  <app-picker [displayData]="hours"
              [visibleItemsCount]="visibleItemsCount"
              [size]="size"
              [selectedItemIndex]="selectedIndex.hours"
              (newSelectedIndex)="selectionChange($event, pickerCategory.hours)">
  </app-picker>

  <app-picker [displayData]="minutes"
              [visibleItemsCount]="visibleItemsCount"
              [size]="size"
              [selectedItemIndex]="selectedIndex.minutes"
              (newSelectedIndex)="selectionChange($event, pickerCategory.minutes)">
  </app-picker>

  <app-picker *ngIf="showSeconds"
              [displayData]="seconds"
              [visibleItemsCount]="visibleItemsCount"
              [size]="size"
              [selectedItemIndex]="selectedIndex.seconds"
              (newSelectedIndex)="selectionChange($event,pickerCategory.seconds)">
  </app-picker>

  <app-picker *ngIf="hourFormat === 'hours12'"
              [displayData]="dayPeriods"
              [visibleItemsCount]="3"
              [selectedItemIndex]="selectedIndex.period"
              [size]="size"
              [infiniteWheelStyle]="false"
              (newSelectedIndex)="selectionChange($event, pickerCategory.period)">
  </app-picker>
</div>
