div.selection-box {
  z-index: 10;
  position: absolute;
  width: var(--selection-box-width);
  aspect-ratio: var(--selection-box-height-ratio);
  border-radius: var(--selection-box-border-radius);
  border-width: var(--selection-box-border-width);
  border-style: var(--selection-box-border-style);
  border-color: var(--selection-box-border-color);
}
