.timeless-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--background-color);
}

base-picker {
  z-index: 20;
}

.selection-box-spanning {
  z-index: 10;
  position: absolute;
  height: 1.8em;
  width: 100%;
  border-radius: 8px;
  border-width: var(--selection-box-border-width);
  border-style: var(--selection-box-border-style);
  border-color: var(--selection-box-border-color);
  background: var(--selection-box-background-color);
}

.selection-box {
  z-index: 10;
  position: absolute;
  height: 1.6em;
  width: 2em;
  border: 1px solid black;
  border-radius: 8px;
}

