.timeless-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--background-color);
}

timeless-base-picker {
  position: relative;
  margin-right: var(--picker-wedge-size);
  z-index: 20;
}

/* position the colon divider in the middle between adjacent pickers - half the margin */
timeless-base-picker.wheel-divider::after {
  content: ":";
  position: absolute;
  top: 50%;
  right: calc(-1 * var(--picker-wedge-size) / 2);
  font-size: 24px;
  transform: translateY(-50%);
}

.selection-box-spanning {
  z-index: 10; /* placed below timeless-base-picker so as not to interfere with scrolling */
  position: absolute;
  height: 1.8em;
  width: 100%;
  border-radius: 8px;
  border-width: var(--selection-box-border-width);
  border-style: var(--selection-box-border-style);
  border-color: var(--selection-box-border-color);
  background: var(--selection-box-background-color);
}

.selection-box {
  z-index: 10;
  position: absolute;
  width: var(--selection-box-width);
  aspect-ratio: var(--selection-box-height-ratio);
  border-width: var(--selection-box-border-width);
  border-style: var(--selection-box-border-style);
  border-color: black;
  //border: 1px solid black;
  border-radius: 8px;
}
