<timeless-container>
  <div *ngIf="selectionHighlightStyle === 'spanning'" selection-box-spanning
       class="selection-box-spanning"></div>
  <base-picker [displayData]="hourValues"
              [visibleItemsCount]="visibleItemsCount"
              [size]="size"
              [selectedItemIndex]="selectedIndex.hours"
              (newSelectedIndex)="selectionChange($event, pickerCategory.hours)"
  >
    <div *ngIf="selectionHighlightStyle === 'boxes'" class="selection-box" selection-box></div>
  </base-picker>

  <base-picker [displayData]="minuteValues"
              [visibleItemsCount]="visibleItemsCount"
              [size]="size"
              [selectedItemIndex]="selectedIndex.minutes"
              [infiniteWheelStyle]="minutesInfiniteStyle()"
              (newSelectedIndex)="selectionChange($event, pickerCategory.minutes)"
  >
    <div *ngIf="selectionHighlightStyle === 'boxes'" class="selection-box" selection-box></div>
  </base-picker>

  <base-picker *ngIf="showSeconds"
              [displayData]="secondValues"
              [visibleItemsCount]="visibleItemsCount"
              [size]="size"
              [selectedItemIndex]="selectedIndex.seconds"
              (newSelectedIndex)="selectionChange($event,pickerCategory.seconds)"
  >
    <div *ngIf="selectionHighlightStyle === 'boxes'" class="selection-box" selection-box></div>
  </base-picker>

  <base-picker *ngIf="hourFormat === 'hours12'"
              [displayData]="dayPeriods"
              [visibleItemsCount]="3"
              [selectedItemIndex]="selectedIndex.period"
              [size]="size"
              [infiniteWheelStyle]="false"
              (newSelectedIndex)="selectionChange($event, pickerCategory.period)"
  >
    <div *ngIf="selectionHighlightStyle === 'boxes'" class="selection-box" selection-box></div>
  </base-picker>
</timeless-container>
