@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root {
  --item-main-color: black;
  --item-main-font: 'Roboto Condensed', sans-serif;

  // The distance between each wheel picker
  --picker-wedge-size: 1em;

  --size-xsmall: 1em;
  --size-small: 1.2em;
  --size-medium: 1.4em;
  --size-large: 1.8em;
  --size-xlarge: 2em;

  .size {
    &-xsmall {
      font-size: var(--size-xsmall);
      height: var(--size-xsmall);
      width: var(--size-xsmall);
    }

    &-small {
      font-size: var(--size-small);
      height: var(--size-small);
      width: var(--size-small);;
    }

    &-medium {
      font-size: var(--size-medium);
      height: var(--size-medium);
      width: var(--size-medium);
    }

    &-large {
      font-size: var(--size-large);
      height: var(--size-large);
      width: var(--size-large);
    }

    &-xlarge {
      font-size: var(--size-xlarge);
      height: var(--size-xlarge);
      width: var(--size-xlarge);
    }
  }
}
